<div class="footer">
  <div>&copy; 2020 <a class="elbrus" href="https://elbrusboot.camp/" target="_blank">elbrusboot.camp</a> | By <a class="authorName" href="https://github.com/akimberl" target="_blank">Burbu</a></div>
</div>
