{{!-- select type of training --}}
<div class="choiceLine">
  <label class="choiceBar" for="choose">Trainning Type:</label>
  <select class="choose" name="TrainingTypes">
    <option value="" selected>Select One ...</option>
    <option value="JYB">Just Yo' Body</option>
    <option value="NBH">No Bars Here</option>
    <option value="MIU">Mix It Up</option>
    <option value="GH">Get Heavy</option>
  </select>
</div>
{{!-- container for wods --}}
<div class="container"></div>
<script src="/js/index.js"></script>
