<div class="app-wrap">
  <input class="hiddenName" type="hidden" id="{{user.city}}">
  <header>
      <a href="/">Go Back to Main Page</a>
  </header>
  <main>
    <section class="location">
      <div class="city"></div>
      <div class="date"></div> 
    </section>
    <div class="current">
      <div class="temp"><span></span></div>
      <div class="weather"></div>
      <div class="hi-low"></div>
    </div>
  </main>
</div>
<link rel="stylesheet" href="/css/profile.css">
<script src="/js/profile.js"></script>
