<form class="formcontainer" name="registrationForm" action="/registration" method="POST">
  <p class="formName">Registration</p>
  <input name="name" type="text" placeholder="Enter your name ... " />
  <input name="city" type="text" placeholder="Enter your city ... "/>
  <button id="loginBtn" class="tinyBtn" type="submit">register</button>
  <div class='errorContainer' style="color: red;"></div>
</form>
 <script defer src="/js/register_login.js"></script>
